# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
*,cover
.coverage
coverage.xml
htmlcov/

# sentinel files
.*_container

# generated when running against dev host
functests/data/
functests/result/

# Results from test.sh
results

# vim
*.swp
